body {

  text-align: center;
  margin: 0;
  position: relative;
  font-family: 'Montserrat',serif;
  color: #40514E;

}

hr {
  border-color: #EAF6F6;
  border-style: dotted;
  border-width: 5px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
    padding-top: 60px;

}

.top-cloud {
  position: absolute;
  top: 10px;
  right: 300px;

}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.30rem;
  margin: 50px 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Merriweather', serif;
}

.myrole {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}


.web, .dev {
  text-decoration: underline;

}

h3 {
  font-family: 'Merriweather', sans-serif;
  color: #11999E;
}


.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;


}

.middle-container {
  margin: 100px 0;
}



.myprofile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.introduction {
  width: 25%;
  margin: auto;
}


.skill-row {
margin: 100px auto;
width: 50%;
text-align: left;


}

.myskills-picture {
  height: 15%;
  width: 15%;
  float: left;
  margin-right: 30px;
}

.myskills2-picture {
  height: 15%;
  border-radius: 50%;
  width: 15%;
  float: right;
  margin-left: 30px;

}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {

  background-color: #66BFBF;
padding: 50px 0 20px;


}

.contact-me-note {
  margin-bottom: 50px;
}
.contact-me {
  color: white;
  margin-bottom: 70px;
  background-color: #66BFBF;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  border-top-right-radius: 12%;

}

.linkedin-link, .gmail-link, .facebook-link {
  width: 30px;
  margin: 1px 1px;

}

.linkedin-link, .gmail-link, .facebook-link:hover {
  color: #EAF6F6;
}


.mycopyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
